project272/defaults/flow.json
[{"id":"8eb2f9fd.0f89e8","type":"twitter in","z":"ea09c234.8e674","twitter":"","tags":"iplt20","user":"false","name":"tweetanalysisipl","topic":"tweets","x":85,"y":20,"wires":[["181a84f2.11393b"]]},{"id":"9caf719.1043d9","type":"debug","z":"ea09c234.8e674","name":"","active":true,"console":"false","complete":"false","x":648,"y":20,"wires":[]},{"id":"181a84f2.11393b","type":"watson-tone-analyzer","z":"ea09c234.8e674","name":"analyser","tones":"all","sentences":"true","x":238.00001525878906,"y":20,"wires":[["4819c3d0.ce46ec"]]},{"id":"4819c3d0.ce46ec","type":"function","z":"ea09c234.8e674","name":"","func":"msg.payload=msg.response.document_tone\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":20,"wires":[["513b4560.876f9c"]]},{"id":"513b4560.876f9c","type":"cloudant out","z":"ea09c234.8e674","service":"project272-cloudantNoSQLDB","cloudant":"","name":"tweetdb","database":"tweetdb1","payonly":true,"operation":"insert","x":647,"y":53.99999237060547,"wires":[]},{"id":"b2951090.36945","type":"http in","z":"ea09c234.8e674","name":"tweetwebservice","url":"/web","method":"get","swaggerDoc":"","x":88.0909194946289,"y":368.0140333175659,"wires":[["95402f07.ac6ed"]]},{"id":"95402f07.ac6ed","type":"cloudant in","z":"ea09c234.8e674","service":"project272-cloudantNoSQLDB","cloudant":"","name":"searchipl","database":"tweetdb1","search":"_all_","design":"","index":"","x":333.00001525878906,"y":375.65032291412354,"wires":[["97b3e410.a7c1a8"]]},{"id":"97b3e410.a7c1a8","type":"http response","z":"ea09c234.8e674","name":"","x":558.4544715881348,"y":380.1957664489746,"wires":[]},{"id":"2134febb.ac0692","type":"template","z":"ea09c234.8e674","name":"homeipl","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n    <script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js\"></script>\n<script>\n//alert(\"in\");\nvar json;\nvar cat=[];\nvar wcat=[];\nvar scat=[];\nvar ascore=0;\n    var dscore=0;\n    var fscore=0;\n    var jscore=0;\n    var sscore=0;\n    var wascore=0;\n    var wcscore=0;\n    var wtscore=0;\n    var soscore=0;\n    var scscore=0;\n    var sescore=0;\n    var sascore=0;\n    var semscore=0;\nfunction gett()\n{\n    \n    document.getElementById(\"container\").style.visibility = \"hidden\";\n\tdocument.getElementById(\"container1\").style.visibility = \"hidden\";\n\tdocument.getElementById(\"container2\").style.visibility = \"hidden\";\n\tjson=httpGet(\"http://project272.mybluemix.net/web\");\n\t//console.log(json);\n\tgraph();\n\t\n}\n\nfunction httpGet(theUrl)\n{\n    var xmlHttp = new XMLHttpRequest();\n    xmlHttp.open( \"GET\", theUrl,false); // false for synchronous request\n    xmlHttp.send();\n\t//console.log(xmlHttp.responseText);\n    return xmlHttp.responseText;\n}\nfunction graph(){\n    //\n    var data=JSON.parse(json);\n    //console.log(data[0].tone_categories[2]);\n    \n    for(i=0;i<data[0].tone_categories[0].tones.length;i++)\n    {\n       // console.log(data[0].tonecategories[0]);\n        cat.push(data[0].tone_categories[0].tones[i].tone_name);\n        \n    }\n    for(i=0;i<data[0].tone_categories[1].tones.length;i++)\n    {\n       // console.log(data[0].tonecategories[0]);\n        wcat.push(data[0].tone_categories[1].tones[i].tone_name);\n        \n    }\n    //console.log(wcat);\n    for(i=0;i<data[0].tone_categories[2].tones.length;i++)\n    {\n       // console.log(data[0].tonecategories[0]);\n        scat.push(data[0].tone_categories[2].tones[i].tone_name);\n        \n    }\n    //console.log(scat);\n    for(i=0;i<data.length;i++)\n    {\n        ascore=ascore + data[i].tone_categories[0].tones[0].score;\n        dscore=dscore+data[i].tone_categories[0].tones[1].score;\n        fscore=fscore+data[i].tone_categories[0].tones[2].score;\n        jscore=jscore+data[i].tone_categories[0].tones[3].score;\n        sscore=sscore+data[i].tone_categories[0].tones[4].score;\n        wascore=wascore + data[i].tone_categories[1].tones[0].score;\n        wcscore=wcscore+data[i].tone_categories[1].tones[1].score;\n        wtscore=wtscore+data[i].tone_categories[1].tones[2].score;\n        soscore=soscore+data[i].tone_categories[2].tones[0].score;\n        scscore=scscore+data[i].tone_categories[2].tones[1].score;\n        sescore=sescore+data[i].tone_categories[2].tones[2].score;\n        sascore=sascore+data[i].tone_categories[2].tones[3].score;\n        semscore=semscore+data[i].tone_categories[2].tones[4].score;\n    }\n    ascore=ascore/(data.length);\n    dscore=dscore/(data.length);\n    fscore=fscore/(data.length);\n    jscore=jscore/(data.length);\n    sscore=sscore/(data.length);\n    wascore=wascore/(data.length);\n    wcscore=wcscore/(data.length);\n    wtscore=wtscore/(data.length);\n    semscore=semscore/(data.length);\n    sescore=sescore/(data.length);\n    scscore=scscore/(data.length);\n    sascore=sascore/(data.length);\n    soscore=soscore/(data.length);\n    console.log(ascore);\n    creategraph();\n}\nfunction creategraph(){\n    \n    var chart = new Highcharts.Chart({\n                colors: [\"#7cb5ec\", \"#f7a35c\"],\n                chart: {\n                    type: 'column',\n                    renderTo: 'container'\n                },\n        title: {\n            text: 'Emotional Tone Analysis'\n        },\n        subtitle: {\n            text: 'Source: Twitter'\n        },\n        xAxis: {\n            categories: [\n                cat[0],\n                cat[1],\n                cat[2],\n                cat[3],\n                cat[4]\n            ],\n            crosshair: true\n        },\n        yAxis: {\n            min: 0,\n            title: {\n                text: 'Tone Score'\n            }\n        },\n        tooltip: {\n            headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n            pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n                '<td style=\"padding:0\"><b>{point.y:.3f} </b></td></tr>',\n            footerFormat: '</table>',\n            shared: true,\n            useHTML: true\n        },\n        plotOptions: {\n            column: {\n                pointPadding: 0.2,\n                borderWidth: 0\n            }\n        },\n        series: [{\n            name: \"tones\",\n            data: [ascore,dscore,fscore,jscore,sscore]\n\n        }]\n    });\n    \n    \n    var chart1 = new Highcharts.Chart({\n                colors: [\"#7cb5ec\", \"#f7a35c\"],\n                chart: {\n                    type: 'column',\n                    renderTo: 'container1'\n                },\n        title: {\n            text: 'Writing Tone Analysis'\n        },\n        subtitle: {\n            text: 'Source: Twitter'\n        },\n        xAxis: {\n            categories: [\n                wcat[0],\n                wcat[1],\n                wcat[2],\n            ],\n            crosshair: true\n        },\n        yAxis: {\n            min: 0,\n            title: {\n                text: 'Tone Score'\n            }\n        },\n        tooltip: {\n            headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n            pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n                '<td style=\"padding:0\"><b>{point.y:.3f} </b></td></tr>',\n            footerFormat: '</table>',\n            shared: true,\n            useHTML: true\n        },\n        plotOptions: {\n            column: {\n                pointPadding: 0.2,\n                borderWidth: 0\n            }\n        },\n        series: [{\n            name: \"tones\",\n            data: [wascore,wcscore,wtscore]\n\n        }]\n    });\n    \n    var chart2 = new Highcharts.Chart({\n                colors: [\"#7cb5ec\", \"#f7a35c\"],\n                chart: {\n                    type: 'column',\n                    renderTo: 'container2'\n                },\n        title: {\n            text: 'Social Tone Analysis'\n        },\n        subtitle: {\n            text: 'Source: Twitter'\n        },\n        xAxis: {\n            categories: [\n                scat[0],\n                scat[1],\n                scat[2],\n                scat[3],\n                scat[4]\n            ],\n            crosshair: true\n        },\n        yAxis: {\n            min: 0,\n            title: {\n                text: 'Tone Score'\n            }\n        },\n        tooltip: {\n            headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n            pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n                '<td style=\"padding:0\"><b>{point.y:.3f} </b></td></tr>',\n            footerFormat: '</table>',\n            shared: true,\n            useHTML: true\n        },\n        plotOptions: {\n            column: {\n                pointPadding: 0.2,\n                borderWidth: 0\n            }\n        },\n        series: [{\n            name: \"tones\",\n            data: [soscore,scscore,sescore,sascore,semscore]\n\n        }]\n    });\n    \ndocument.getElementById(\"container\").style.visibility = \"visible\";\ndocument.getElementById(\"container1\").style.visibility = \"visible\";\ndocument.getElementById(\"container2\").style.visibility = \"visible\";\n\t\n}\n</script>\n</head>\n<body onload=\"gett()\">\n\n<div id=\"container\" style=\"min-width: 310px; height: 400px; margin: 0 auto\"></div>\n<div id=\"container1\" style=\"min-width: 310px; height: 400px; margin: 0 auto\"></div>\n<div id=\"container2\" style=\"min-width: 310px; height: 400px; margin: 0 auto\"></div>\n\n</body>\n\n</html>","x":313.1818199157715,"y":416.8322105407715,"wires":[["263f856.f54797a"]]},{"id":"81332619.1df758","type":"http in","z":"ea09c234.8e674","name":"homeipl","url":"/home","method":"get","swaggerDoc":"","x":67.72727584838867,"y":413.10480308532715,"wires":[["2134febb.ac0692"]]},{"id":"263f856.f54797a","type":"http response","z":"ea09c234.8e674","name":"","x":554.6363906860352,"y":419.55944442749023,"wires":[]},{"id":"76deb892.892148","type":"twitter in","z":"ea09c234.8e674","twitter":"","tags":"msdhoni","user":"false","name":"tweetanalysisdhoni","topic":"tweets","x":95,"y":63.99999237060547,"wires":[["edc08d07.123f7"]]},{"id":"edc08d07.123f7","type":"watson-tone-analyzer","z":"ea09c234.8e674","name":"analyser","tones":"all","sentences":"true","x":275,"y":64.99999237060547,"wires":[["aff690f0.50097"]]},{"id":"aff690f0.50097","type":"function","z":"ea09c234.8e674","name":"","func":"msg.payload=msg.response.document_tone\nreturn msg;","outputs":1,"noerr":0,"x":424,"y":54.99999237060547,"wires":[["63d5e416.9c2a1c"]]},{"id":"63d5e416.9c2a1c","type":"cloudant out","z":"ea09c234.8e674","service":"project272-cloudantNoSQLDB","cloudant":"","name":"tweetdbdhoni","database":"tweetdbdhoni","payonly":true,"operation":"insert","x":643,"y":88.99999237060547,"wires":[]},{"id":"1ad17c0b.e52e84","type":"http in","z":"ea09c234.8e674","name":"tweetwebserviced","url":"/dhoni","method":"get","swaggerDoc":"","x":97.36365509033203,"y":326.7412214279175,"wires":[["cd97af12.32685"]]},{"id":"cd97af12.32685","type":"cloudant in","z":"ea09c234.8e674","service":"project272-cloudantNoSQLDB","cloudant":"","name":"searchdhoni","database":"tweetdbdhoni","search":"_all_","design":"","index":"","x":351.18184661865234,"y":327.83213329315186,"wires":[["ce3710ea.31c8f"]]},{"id":"ce3710ea.31c8f","type":"http response","z":"ea09c234.8e674","name":"","x":570.2726745605469,"y":333.28667640686035,"wires":[]},{"id":"e1674f7.f1e98b","type":"template","z":"ea09c234.8e674","name":"homedhoni","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n    <script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js\"></script>\n<script>\n//alert(\"in\");\nvar json;\nvar cat=[];\nvar wcat=[];\nvar scat=[];\nvar ascore=0;\n    var dscore=0;\n    var fscore=0;\n    var jscore=0;\n    var sscore=0;\n    var wascore=0;\n    var wcscore=0;\n    var wtscore=0;\n    var soscore=0;\n    var scscore=0;\n    var sescore=0;\n    var sascore=0;\n    var semscore=0;\nfunction gett()\n{\n    \n    document.getElementById(\"container\").style.visibility = \"hidden\";\n\tdocument.getElementById(\"container1\").style.visibility = \"hidden\";\n\tdocument.getElementById(\"container2\").style.visibility = \"hidden\";\n\tjson=httpGet(\"http://project272.mybluemix.net/dhoni\");\n\t//console.log(json);\n\tgraph();\n\t\n}\n\nfunction httpGet(theUrl)\n{\n    var xmlHttp = new XMLHttpRequest();\n    xmlHttp.open( \"GET\", theUrl,false); // false for synchronous request\n    xmlHttp.send();\n\t//console.log(xmlHttp.responseText);\n    return xmlHttp.responseText;\n}\nfunction graph(){\n    //\n    var data=JSON.parse(json);\n    console.log(data[0].tone_categories[2]);\n    \n    for(i=0;i<data[0].tone_categories[0].tones.length;i++)\n    {\n       // console.log(data[0].tonecategories[0]);\n        cat.push(data[0].tone_categories[0].tones[i].tone_name);\n        \n    }\n    for(i=0;i<data[0].tone_categories[1].tones.length;i++)\n    {\n       // console.log(data[0].tonecategories[0]);\n        wcat.push(data[0].tone_categories[1].tones[i].tone_name);\n        \n    }\n    //console.log(wcat);\n    for(i=0;i<data[0].tone_categories[2].tones.length;i++)\n    {\n       // console.log(data[0].tonecategories[0]);\n        scat.push(data[0].tone_categories[2].tones[i].tone_name);\n        \n    }\n    //console.log(scat);\n    for(i=0;i<data.length;i++)\n    {\n        ascore=ascore + data[i].tone_categories[0].tones[0].score;\n        dscore=dscore+data[i].tone_categories[0].tones[1].score;\n        fscore=fscore+data[i].tone_categories[0].tones[2].score;\n        jscore=jscore+data[i].tone_categories[0].tones[3].score;\n        sscore=sscore+data[i].tone_categories[0].tones[4].score;\n        wascore=wascore + data[i].tone_categories[1].tones[0].score;\n        wcscore=wcscore+data[i].tone_categories[1].tones[1].score;\n        wtscore=wtscore+data[i].tone_categories[1].tones[2].score;\n        soscore=soscore+data[i].tone_categories[2].tones[0].score;\n        scscore=scscore+data[i].tone_categories[2].tones[1].score;\n        sescore=sescore+data[i].tone_categories[2].tones[2].score;\n        sascore=sascore+data[i].tone_categories[2].tones[3].score;\n        semscore=semscore+data[i].tone_categories[2].tones[4].score;\n    }\n    ascore=ascore/(data.length);\n    dscore=dscore/(data.length);\n    fscore=fscore/(data.length);\n    jscore=jscore/(data.length);\n    sscore=sscore/(data.length);\n    wascore=wascore/(data.length);\n    wcscore=wcscore/(data.length);\n    wtscore=wtscore/(data.length);\n    semscore=semscore/(data.length);\n    sescore=sescore/(data.length);\n    scscore=scscore/(data.length);\n    sascore=sascore/(data.length);\n    soscore=soscore/(data.length);\n    //console.log(ascore);\n    creategraph();\n}\nfunction creategraph(){\n    \n    var chart = new Highcharts.Chart({\n                colors: [\"#7cb5ec\", \"#f7a35c\"],\n                chart: {\n                    type: 'column',\n                    renderTo: 'container'\n                },\n        title: {\n            text: 'Emotional Tone Analysis'\n        },\n        subtitle: {\n            text: 'Source: Twitter'\n        },\n        xAxis: {\n            categories: [\n                cat[0],\n                cat[1],\n                cat[2],\n                cat[3],\n                cat[4]\n            ],\n            crosshair: true\n        },\n        yAxis: {\n            min: 0,\n            title: {\n                text: 'Tone Score'\n            }\n        },\n        tooltip: {\n            headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n            pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n                '<td style=\"padding:0\"><b>{point.y:.3f} </b></td></tr>',\n            footerFormat: '</table>',\n            shared: true,\n            useHTML: true\n        },\n        plotOptions: {\n            column: {\n                pointPadding: 0.2,\n                borderWidth: 0\n            }\n        },\n        series: [{\n            name: \"tones\",\n            data: [ascore,dscore,fscore,jscore,sscore]\n\n        }]\n    });\n    \n    \n    var chart1 = new Highcharts.Chart({\n                colors: [\"#7cb5ec\", \"#f7a35c\"],\n                chart: {\n                    type: 'column',\n                    renderTo: 'container1'\n                },\n        title: {\n            text: 'Writing Tone Analysis'\n        },\n        subtitle: {\n            text: 'Source: Twitter'\n        },\n        xAxis: {\n            categories: [\n                wcat[0],\n                wcat[1],\n                wcat[2],\n            ],\n            crosshair: true\n        },\n        yAxis: {\n            min: 0,\n            title: {\n                text: 'Tone Score'\n            }\n        },\n        tooltip: {\n            headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n            pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n                '<td style=\"padding:0\"><b>{point.y:.3f} </b></td></tr>',\n            footerFormat: '</table>',\n            shared: true,\n            useHTML: true\n        },\n        plotOptions: {\n            column: {\n                pointPadding: 0.2,\n                borderWidth: 0\n            }\n        },\n        series: [{\n            name: \"tones\",\n            data: [wascore,wcscore,wtscore]\n\n        }]\n    });\n    \n    var chart2 = new Highcharts.Chart({\n                colors: [\"#7cb5ec\", \"#f7a35c\"],\n                chart: {\n                    type: 'column',\n                    renderTo: 'container2'\n                },\n        title: {\n            text: 'Social Tone Analysis'\n        },\n        subtitle: {\n            text: 'Source: Twitter'\n        },\n        xAxis: {\n            categories: [\n                scat[0],\n                scat[1],\n                scat[2],\n                scat[3],\n                scat[4]\n            ],\n            crosshair: true\n        },\n        yAxis: {\n            min: 0,\n            title: {\n                text: 'Tone Score'\n            }\n        },\n        tooltip: {\n            headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n            pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n                '<td style=\"padding:0\"><b>{point.y:.3f} </b></td></tr>',\n            footerFormat: '</table>',\n            shared: true,\n            useHTML: true\n        },\n        plotOptions: {\n            column: {\n                pointPadding: 0.2,\n                borderWidth: 0\n            }\n        },\n        series: [{\n            name: \"tones\",\n            data: [soscore,scscore,sescore,sascore,semscore]\n\n        }]\n    });\n    \ndocument.getElementById(\"container\").style.visibility = \"visible\";\ndocument.getElementById(\"container1\").style.visibility = \"visible\";\ndocument.getElementById(\"container2\").style.visibility = \"visible\";\n\t\n}\n</script>\n</head>\n<body onload=\"gett()\">\n\n<div id=\"container\" style=\"min-width: 310px; height: 400px; margin: 0 auto\"></div>\n<div id=\"container1\" style=\"min-width: 310px; height: 400px; margin: 0 auto\"></div>\n<div id=\"container2\" style=\"min-width: 310px; height: 400px; margin: 0 auto\"></div>\n\n</body>\n\n</html>","x":305.7272834777832,"y":458.83216094970703,"wires":[["62255414.9ddaac"]]},{"id":"6eaef9be.915108","type":"http in","z":"ea09c234.8e674","name":"homedhoni","url":"/homed","method":"get","swaggerDoc":"","x":66.90910339355469,"y":456.01392364501953,"wires":[["e1674f7.f1e98b"]]},{"id":"62255414.9ddaac","type":"http response","z":"ea09c234.8e674","name":"","x":542.7272834777832,"y":459.74120712280273,"wires":[]},{"id":"1ea09b9f.e15f64","type":"http in","z":"ea09c234.8e674","name":"index","url":"/index1","method":"get","swaggerDoc":"","x":105.76921081542969,"y":622.0891628265381,"wires":[["84cbf3b9.7b341"]]},{"id":"84cbf3b9.7b341","type":"template","z":"ea09c234.8e674","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html>\n  <head>\n\n  <link rel=\"stylesheet\" href=\"https://abs.twimg.com/a/1459994215/css/t1/twitter_core.bundle.css\">\n  <link rel=\"stylesheet\" href=\"https://abs.twimg.com/a/1459994215/css/t1/twitter_more_1.bundle.css\">\n  <link rel=\"stylesheet\" href=\"https://abs.twimg.com/a/1459994215/css/t1/twitter_more_2.bundle.css\">\n    <title>IPL Twitter Analyzer</title>\n    \n  </head>\n  <body class=\"rootBackground\">\n\n  \n<div id=\"doc\" class=\"\" >\n        <div class=\"StreamsTopBar-container StreamsTopBar-container--withStreamHero StreamsTopBar-container--withTallHeader\">\n  <div class=\"StreamsTopBar StreamsTopBar--fixed js-variableHeightTopBar\">\n    <div class=\"StreamsHero\">\n      <div class=\"StreamsHero-image\" style=\"background-image: url(https://abs.twimg.com/a/1457566999/img/t1/lohp_streams_header_bg_v4.png);\"></div>\n      <div class=\"StreamsHero-buttonContainer\">\n        <a href='/' class=\"js-nav\" data-component=\"hero\" data-element=\"logo\">\n        <span class=\"Icon\">\n         <div class=\"parent\">\n      <img id=\"bird\" src=\"http://images.whatsonindia.com/WhatsOnTV/images/ProgramImages/square/F25E5344097E6D0778109DF51B7A065EBCE37B21Q.jpg\" />\n      </div>\n      </span></a>\n       \n      </div>\n      <div class=\"StreamsHero-content\">\n        <h2 class=\"StreamsHero-header\">Tone Analysis for Trending IPL Tweets</h2>\n          \n      </div>\n    </div>\n  <div class=\"StreamsTopBar-innerContainer\">\n      <div class=\"StreamsCategoryBar\">\n  \n\n      <div class=\"StreamsCategoryBar-item StreamsCategoryBar-item--selected\">\n      <div class=\"StreamsCategoryBar-itemInner\">\n        <a class=\"StreamsCategoryBar-itemName u-linkClean js-nav\" href=\"http://project272.mybluemix.net/home\" data-nav=\"home\">IPLT20</a>\n      </div>\n    </div>\n     <div class=\"StreamsCategoryBar-item\">\n      <div class=\"StreamsCategoryBar-itemInner\">\n        <a class=\"StreamsCategoryBar-itemName u-linkClean js-nav\" href=\"http://project272.mybluemix.net/homed\" data-nav=\"686639666771046402\">DHONI</a>\n      </div>\n    </div>\n    <div class=\"StreamsCategoryBar-item\">\n      <div class=\"StreamsCategoryBar-itemInner\">\n        <a class=\"StreamsCategoryBar-itemName u-linkClean js-nav\" href=\"http://project272.mybluemix.net/homer\" data-nav=\"686639666779394057\">RAINA</a>\n      </div>\n    </div>\n        <div class=\"StreamsCategoryBar-item\">\n      <div class=\"StreamsCategoryBar-itemInner\">\n        <a class=\"StreamsCategoryBar-itemName u-linkClean js-nav\" href=\"http://project272.mybluemix.net/homes\" data-nav=\"686639666779426835\">R.SHARMA</a>\n      </div>\n    </div>\n     \n\n   \n</div>\n\n      <div class=\"StreamsTopBar-searchContainer u-hidden StreamsTopBar--invisible StreamsTopBar-searchContainer--wide\" role=\"search\">\n  <form class=\"form-search js-search-form\" action=\"/search\" id=\"global-nav-search\">\n    <div class=\"u-posRelative\">\n      <button type=\"submit\" class=\"Icon Icon--search StreamsTopBar-searchButton\">\n        <span class=\"visuallyhidden\">Search Twitter</span>\n      </button>\n      <label class=\"visuallyhidden\" for=\"search-query\">Search query</label>\n      <input class=\"StreamsTopBar-searchInput\" type=\"text\" id=\"search-query\" placeholder=\"Search for stuff like #YouSaidILoveYouISaid or #DangerousWomanTonight\" name=\"q\" autocomplete=\"off\" spellcheck=\"false\">\n    </div>\n    \n    <div role=\"listbox\" class=\"dropdown-menu typeahead\">\n  <div aria-hidden=\"true\" class=\"dropdown-caret\">\n    <div class=\"caret-outer\"></div>\n    <div class=\"caret-inner\"></div>\n  </div>\n  <div role=\"presentation\" class=\"dropdown-inner js-typeahead-results\">\n    <div role=\"presentation\" class=\"typeahead-saved-searches\">\n  <h3 id=\"saved-searches-heading\" class=\"typeahead-category-title saved-searches-title\">Saved searches</h3>\n  <ul role=\"presentation\" class=\"typeahead-items saved-searches-list\">\n    \n    <li role=\"presentation\" class=\"typeahead-item typeahead-saved-search-item\">\n      <span class=\"Icon Icon--close\" aria-hidden=\"true\"><span class=\"visuallyhidden\">Remove</span></span>\n      <a role=\"option\" aria-describedby=\"saved-searches-heading\" class=\"js-nav\" href=\"\" data-search-query=\"\" data-query-source=\"\" data-ds=\"saved_search\" tabindex=\"-1\"></a>\n    </li>\n  </ul>\n</div>\n\n    <ul role=\"presentation\" class=\"typeahead-items typeahead-topics\">\n  \n  <li role=\"presentation\" class=\"typeahead-item typeahead-topic-item\">\n    <a role=\"option\" class=\"js-nav\" href=\"\" data-search-query=\"\" data-query-source=\"typeahead_click\" data-ds=\"topics\" tabindex=\"-1\"></a>\n  </li>\n</ul>\n    \n\n\n<ul role=\"presentation\" class=\"typeahead-items typeahead-accounts js-typeahead-accounts\">\n  \n  <li role=\"presentation\" data-user-id=\"\" data-user-screenname=\"\" data-remote=\"true\" data-score=\"\" class=\"typeahead-item typeahead-account-item js-selectable\">\n    \n    <a role=\"option\" class=\"js-nav\" data-query-source=\"typeahead_click\" data-search-query=\"\" data-ds=\"account\">\n      <img class=\"avatar size32\" alt=\"\">\n      <span class=\"typeahead-user-item-info\">\n        <span class=\"fullname\"></span>\n        <span class=\"js-verified hidden\"><span class=\"Icon Icon--verified Icon--small\">\n  <span class=\"u-hiddenVisually\">Verified account</span>\n</span></span>\n        <span class=\"username\"><s>@</s><b></b></span>\n      </span>\n    </a>\n  </li>\n  <li role=\"presentation\" class=\"js-selectable typeahead-accounts-shortcut js-shortcut\"><a role=\"option\" class=\"js-nav\" href=\"\" data-search-query=\"\" data-query-source=\"typeahead_click\" data-shortcut=\"true\" data-ds=\"account_search\"></a></li>\n</ul>\n\n    <ul role=\"presentation\" class=\"typeahead-items typeahead-trend-locations-list\">\n  \n  <li role=\"presentation\" class=\"typeahead-item typeahead-trend-locations-item\"><a role=\"option\" class=\"js-nav\" href=\"\" data-ds=\"trend_location\" data-search-query=\"\" tabindex=\"-1\"></a></li>\n</ul>\n    <div role=\"presentation\" class=\"typeahead-user-select\">\n  <div role=\"presentation\" class=\"typeahead-empty-suggestions\">\n    Suggested users\n  </div>\n  <ul role=\"presentation\" class=\"typeahead-items typeahead-selected js-typeahead-selected\">\n    \n    <li role=\"presentation\" data-user-id=\"\" data-user-screenname=\"\" data-remote=\"true\" data-score=\"\" class=\"typeahead-item typeahead-selected-item js-selectable\">\n      \n      <a role=\"option\" class=\"js-nav\" data-query-source=\"typeahead_click\" data-search-query=\"\" data-ds=\"account\">\n        <img class=\"avatar size32\" alt=\"\">\n        <span class=\"typeahead-user-item-info\">\n          <span class=\"select-status deselect-user js-deselect-user Icon Icon--check\"></span>\n          <span class=\"select-status select-disabled Icon Icon--unfollow\"></span>\n          <span class=\"fullname\"></span>\n          <span class=\"js-verified hidden\"><span class=\"Icon Icon--verified Icon--small\">\n  <span class=\"u-hiddenVisually\">Verified account</span>\n</span></span>\n          <span class=\"username\"><s>@</s><b></b></span>\n        </span>\n      </a>\n    </li>\n    <li role=\"presentation\" class=\"typeahead-selected-end\"></li>\n  </ul>\n\n  <ul role=\"presentation\" class=\"typeahead-items typeahead-accounts js-typeahead-accounts\">\n    \n    <li role=\"presentation\" data-user-id=\"\" data-user-screenname=\"\" data-remote=\"true\" data-score=\"\" class=\"typeahead-item typeahead-account-item js-selectable\">\n      \n      <a role=\"option\" class=\"js-nav\" data-query-source=\"typeahead_click\" data-search-query=\"\" data-ds=\"account\">\n        <img class=\"avatar size32\" alt=\"\">\n        <span class=\"typeahead-user-item-info\">\n          <span class=\"select-status deselect-user js-deselect-user Icon Icon--check\"></span>\n          <span class=\"select-status select-disabled Icon Icon--unfollow\"></span>\n          <span class=\"fullname\"></span>\n          <span class=\"js-verified hidden\"><span class=\"Icon Icon--verified Icon--small\">\n  <span class=\"u-hiddenVisually\">Verified account</span>\n</span></span>\n          <span class=\"username\"><s>@</s><b></b></span>\n        </span>\n      </a>\n    </li>\n    <li role=\"presentation\" class=\"typeahead-accounts-end\"></li>\n  </ul>\n</div>\n\n    <div role=\"presentation\" class=\"typeahead-dm-conversations\">\n  <ul role=\"presentation\" class=\"typeahead-items typeahead-dm-conversation-items\">\n    <li role=\"presentation\" class=\"typeahead-item typeahead-dm-conversation-item\">\n      <a role=\"option\" tabindex=\"-1\"></a>\n    </li>\n  </ul>\n</div>\n  </div>\n</div>\n\n  </form>\n  </div>\n  </div>\n  </div>\n  </div>\n\n  \n  </div>\n\n\n</body>\n</html>","x":281.5646438598633,"y":624.4755153656006,"wires":[["61b24d9d.9e4db4"]]},{"id":"61b24d9d.9e4db4","type":"http response","z":"ea09c234.8e674","name":"","x":526.5191497802734,"y":632.9073390960693,"wires":[]},{"id":"69f896c.8f1b568","type":"twitter in","z":"ea09c234.8e674","twitter":"","tags":"raina","user":"false","name":"tweetanalysisraina","topic":"tweets","x":95,"y":107.99999237060547,"wires":[["a8206237.60886"]]},{"id":"a8206237.60886","type":"watson-tone-analyzer","z":"ea09c234.8e674","name":"analyser","tones":"all","sentences":"true","x":293,"y":106.99999237060547,"wires":[["7be2e2cb.2ab5bc"]]},{"id":"7be2e2cb.2ab5bc","type":"function","z":"ea09c234.8e674","name":"","func":"msg.payload=msg.response.document_tone\nreturn msg;","outputs":1,"noerr":0,"x":427,"y":89,"wires":[["7e780743.fac668"]]},{"id":"7e780743.fac668","type":"cloudant out","z":"ea09c234.8e674","service":"project272-cloudantNoSQLDB","cloudant":"","name":"tweetdbraina","database":"tweetdbraina","payonly":true,"operation":"insert","x":646,"y":123.99999237060547,"wires":[]},{"id":"8b90683e.61d838","type":"http in","z":"ea09c234.8e674","name":"tweetwebservicer","url":"/raina","method":"get","swaggerDoc":"","x":85,"y":269.74829483032227,"wires":[["28a3cb0f.da9d44"]]},{"id":"28a3cb0f.da9d44","type":"cloudant in","z":"ea09c234.8e674","service":"project272-cloudantNoSQLDB","cloudant":"","name":"searchraina","database":"tweetdbraina","search":"_all_","design":"","index":"","x":333.38460540771484,"y":273.63630867004395,"wires":[["ffc5b07f.23303"]]},{"id":"ffc5b07f.23303","type":"http response","z":"ea09c234.8e674","name":"","x":574.0838508605957,"y":275.8740921020508,"wires":[]},{"id":"51e9b543.c313bc","type":"template","z":"ea09c234.8e674","name":"homeraina","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n    <script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js\"></script>\n<script>\n//alert(\"in\");\nvar json;\nvar cat=[];\nvar wcat=[];\nvar scat=[];\nvar ascore=0;\n    var dscore=0;\n    var fscore=0;\n    var jscore=0;\n    var sscore=0;\n    var wascore=0;\n    var wcscore=0;\n    var wtscore=0;\n    var soscore=0;\n    var scscore=0;\n    var sescore=0;\n    var sascore=0;\n    var semscore=0;\nfunction gett()\n{\n    \n    document.getElementById(\"container\").style.visibility = \"hidden\";\n\tdocument.getElementById(\"container1\").style.visibility = \"hidden\";\n\tdocument.getElementById(\"container2\").style.visibility = \"hidden\";\n\tjson=httpGet(\"http://project272.mybluemix.net/raina\");\n\t//console.log(json);\n\tgraph();\n\t\n}\n\nfunction httpGet(theUrl)\n{\n    var xmlHttp = new XMLHttpRequest();\n    xmlHttp.open( \"GET\", theUrl,false); // false for synchronous request\n    xmlHttp.send();\n\t//console.log(xmlHttp.responseText);\n    return xmlHttp.responseText;\n}\nfunction graph(){\n    //\n    var data=JSON.parse(json);\n    //console.log(data[0].tone_categories[2]);\n    \n    for(i=0;i<data[0].tone_categories[0].tones.length;i++)\n    {\n       // console.log(data[0].tonecategories[0]);\n        cat.push(data[0].tone_categories[0].tones[i].tone_name);\n        \n    }\n    for(i=0;i<data[0].tone_categories[1].tones.length;i++)\n    {\n       // console.log(data[0].tonecategories[0]);\n        wcat.push(data[0].tone_categories[1].tones[i].tone_name);\n        \n    }\n    //console.log(wcat);\n    for(i=0;i<data[0].tone_categories[2].tones.length;i++)\n    {\n       // console.log(data[0].tonecategories[0]);\n        scat.push(data[0].tone_categories[2].tones[i].tone_name);\n        \n    }\n    //console.log(scat);\n    for(i=0;i<data.length;i++)\n    {\n        ascore=ascore + data[i].tone_categories[0].tones[0].score;\n        dscore=dscore+data[i].tone_categories[0].tones[1].score;\n        fscore=fscore+data[i].tone_categories[0].tones[2].score;\n        jscore=jscore+data[i].tone_categories[0].tones[3].score;\n        sscore=sscore+data[i].tone_categories[0].tones[4].score;\n        wascore=wascore + data[i].tone_categories[1].tones[0].score;\n        wcscore=wcscore+data[i].tone_categories[1].tones[1].score;\n        wtscore=wtscore+data[i].tone_categories[1].tones[2].score;\n        soscore=soscore+data[i].tone_categories[2].tones[0].score;\n        scscore=scscore+data[i].tone_categories[2].tones[1].score;\n        sescore=sescore+data[i].tone_categories[2].tones[2].score;\n        sascore=sascore+data[i].tone_categories[2].tones[3].score;\n        semscore=semscore+data[i].tone_categories[2].tones[4].score;\n    }\n    ascore=ascore/(data.length);\n    dscore=dscore/(data.length);\n    fscore=fscore/(data.length);\n    jscore=jscore/(data.length);\n    sscore=sscore/(data.length);\n    wascore=wascore/(data.length);\n    wcscore=wcscore/(data.length);\n    wtscore=wtscore/(data.length);\n    semscore=semscore/(data.length);\n    sescore=sescore/(data.length);\n    scscore=scscore/(data.length);\n    sascore=sascore/(data.length);\n    soscore=soscore/(data.length);\n    console.log(ascore);\n    creategraph();\n}\nfunction creategraph(){\n    \n    var chart = new Highcharts.Chart({\n                colors: [\"#7cb5ec\", \"#f7a35c\"],\n                chart: {\n                    type: 'column',\n                    renderTo: 'container'\n                },\n        title: {\n            text: 'Emotional Tone Analysis'\n        },\n        subtitle: {\n            text: 'Source: Twitter'\n        },\n        xAxis: {\n            categories: [\n                cat[0],\n                cat[1],\n                cat[2],\n                cat[3],\n                cat[4]\n            ],\n            crosshair: true\n        },\n        yAxis: {\n            min: 0,\n            title: {\n                text: 'Tone Score'\n            }\n        },\n        tooltip: {\n            headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n            pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n                '<td style=\"padding:0\"><b>{point.y:.3f} </b></td></tr>',\n            footerFormat: '</table>',\n            shared: true,\n            useHTML: true\n        },\n        plotOptions: {\n            column: {\n                pointPadding: 0.2,\n                borderWidth: 0\n            }\n        },\n        series: [{\n            name: \"tones\",\n            data: [ascore,dscore,fscore,jscore,sscore]\n\n        }]\n    });\n    \n    \n    var chart1 = new Highcharts.Chart({\n                colors: [\"#7cb5ec\", \"#f7a35c\"],\n                chart: {\n                    type: 'column',\n                    renderTo: 'container1'\n                },\n        title: {\n            text: 'Writing Tone Analysis'\n        },\n        subtitle: {\n            text: 'Source: Twitter'\n        },\n        xAxis: {\n            categories: [\n                wcat[0],\n                wcat[1],\n                wcat[2],\n            ],\n            crosshair: true\n        },\n        yAxis: {\n            min: 0,\n            title: {\n                text: 'Tone Score'\n            }\n        },\n        tooltip: {\n            headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n            pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n                '<td style=\"padding:0\"><b>{point.y:.3f} </b></td></tr>',\n            footerFormat: '</table>',\n            shared: true,\n            useHTML: true\n        },\n        plotOptions: {\n            column: {\n                pointPadding: 0.2,\n                borderWidth: 0\n            }\n        },\n        series: [{\n            name: \"tones\",\n            data: [wascore,wcscore,wtscore]\n\n        }]\n    });\n    \n    var chart2 = new Highcharts.Chart({\n                colors: [\"#7cb5ec\", \"#f7a35c\"],\n                chart: {\n                    type: 'column',\n                    renderTo: 'container2'\n                },\n        title: {\n            text: 'Social Tone Analysis'\n        },\n        subtitle: {\n            text: 'Source: Twitter'\n        },\n        xAxis: {\n            categories: [\n                scat[0],\n                scat[1],\n                scat[2],\n                scat[3],\n                scat[4]\n            ],\n            crosshair: true\n        },\n        yAxis: {\n            min: 0,\n            title: {\n                text: 'Tone Score'\n            }\n        },\n        tooltip: {\n            headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n            pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n                '<td style=\"padding:0\"><b>{point.y:.3f} </b></td></tr>',\n            footerFormat: '</table>',\n            shared: true,\n            useHTML: true\n        },\n        plotOptions: {\n            column: {\n                pointPadding: 0.2,\n                borderWidth: 0\n            }\n        },\n        series: [{\n            name: \"tones\",\n            data: [soscore,scscore,sescore,sascore,semscore]\n\n        }]\n    });\n    \ndocument.getElementById(\"container\").style.visibility = \"visible\";\ndocument.getElementById(\"container1\").style.visibility = \"visible\";\ndocument.getElementById(\"container2\").style.visibility = \"visible\";\n\t\n}\n</script>\n</head>\n<body onload=\"gett()\">\n\n<div id=\"container\" style=\"min-width: 310px; height: 400px; margin: 0 auto\"></div>\n<div id=\"container1\" style=\"min-width: 310px; height: 400px; margin: 0 auto\"></div>\n<div id=\"container2\" style=\"min-width: 310px; height: 400px; margin: 0 auto\"></div>\n\n</body>\n\n</html>","x":298.9999885559082,"y":494.83215713500977,"wires":[["a399154e.2a8c78"]]},{"id":"92cd087b.ff18a8","type":"http in","z":"ea09c234.8e674","name":"homeraina","url":"/homer","method":"get","swaggerDoc":"","x":65,"y":499.2866916656494,"wires":[["51e9b543.c313bc"]]},{"id":"a399154e.2a8c78","type":"http response","z":"ea09c234.8e674","name":"","x":531.5454368591309,"y":498.55933570861816,"wires":[]},{"id":"ce376870.518e98","type":"twitter in","z":"ea09c234.8e674","twitter":"","tags":"rohit sharma,rohitsharma","user":"false","name":"tweetanalysissharma","topic":"tweets","x":105,"y":153,"wires":[["e4b8296e.efd438"]]},{"id":"e4b8296e.efd438","type":"watson-tone-analyzer","z":"ea09c234.8e674","name":"analyser","tones":"all","sentences":"true","x":304,"y":152,"wires":[["4c1213fa.1402dc"]]},{"id":"4c1213fa.1402dc","type":"function","z":"ea09c234.8e674","name":"","func":"msg.payload=msg.response.document_tone\nreturn msg;","outputs":1,"noerr":0,"x":435,"y":128,"wires":[["2dd1bcbf.299174"]]},{"id":"2dd1bcbf.299174","type":"cloudant out","z":"ea09c234.8e674","service":"project272-cloudantNoSQLDB","cloudant":"","name":"tweetdbsharma","database":"tweetdbsharma","payonly":true,"operation":"insert","x":654,"y":160,"wires":[]},{"id":"e71cc6d2.950718","type":"http in","z":"ea09c234.8e674","name":"tweetwebservices","url":"/sharma","method":"get","swaggerDoc":"","x":85,"y":200.07690048217773,"wires":[["17d1fdda.a0adf2"]]},{"id":"17d1fdda.a0adf2","type":"cloudant in","z":"ea09c234.8e674","service":"project272-cloudantNoSQLDB","cloudant":"","name":"searchsharma","database":"tweetdbsharma","search":"_all_","design":"","index":"","x":291.92305755615234,"y":200.53846549987793,"wires":[["a5fa8d41.0c725"]]},{"id":"a5fa8d41.0c725","type":"http response","z":"ea09c234.8e674","name":"","x":569.6153793334961,"y":218.99999523162842,"wires":[]},{"id":"5a78d1cb.fffeb","type":"template","z":"ea09c234.8e674","name":"homesharma","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n    <script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js\"></script>\n<script>\n//alert(\"in\");\nvar json;\nvar cat=[];\nvar wcat=[];\nvar scat=[];\nvar ascore=0;\n    var dscore=0;\n    var fscore=0;\n    var jscore=0;\n    var sscore=0;\n    var wascore=0;\n    var wcscore=0;\n    var wtscore=0;\n    var soscore=0;\n    var scscore=0;\n    var sescore=0;\n    var sascore=0;\n    var semscore=0;\nfunction gett()\n{\n    \n    document.getElementById(\"container\").style.visibility = \"hidden\";\n\tdocument.getElementById(\"container1\").style.visibility = \"hidden\";\n\tdocument.getElementById(\"container2\").style.visibility = \"hidden\";\n\tjson=httpGet(\"http://project272.mybluemix.net/sharma\");\n\t//console.log(json);\n\tgraph();\n\t\n}\n\nfunction httpGet(theUrl)\n{\n    var xmlHttp = new XMLHttpRequest();\n    xmlHttp.open( \"GET\", theUrl,false); // false for synchronous request\n    xmlHttp.send();\n\t//console.log(xmlHttp.responseText);\n    return xmlHttp.responseText;\n}\nfunction graph(){\n    //\n    var data=JSON.parse(json);\n    //console.log(data[0].tone_categories[2]);\n    \n    for(i=0;i<data[0].tone_categories[0].tones.length;i++)\n    {\n       // console.log(data[0].tonecategories[0]);\n        cat.push(data[0].tone_categories[0].tones[i].tone_name);\n        \n    }\n    for(i=0;i<data[0].tone_categories[1].tones.length;i++)\n    {\n       // console.log(data[0].tonecategories[0]);\n        wcat.push(data[0].tone_categories[1].tones[i].tone_name);\n        \n    }\n    //console.log(wcat);\n    for(i=0;i<data[0].tone_categories[2].tones.length;i++)\n    {\n       // console.log(data[0].tonecategories[0]);\n        scat.push(data[0].tone_categories[2].tones[i].tone_name);\n        \n    }\n    //console.log(scat);\n    for(i=0;i<data.length;i++)\n    {\n        ascore=ascore + data[i].tone_categories[0].tones[0].score;\n        dscore=dscore+data[i].tone_categories[0].tones[1].score;\n        fscore=fscore+data[i].tone_categories[0].tones[2].score;\n        jscore=jscore+data[i].tone_categories[0].tones[3].score;\n        sscore=sscore+data[i].tone_categories[0].tones[4].score;\n        wascore=wascore + data[i].tone_categories[1].tones[0].score;\n        wcscore=wcscore+data[i].tone_categories[1].tones[1].score;\n        wtscore=wtscore+data[i].tone_categories[1].tones[2].score;\n        soscore=soscore+data[i].tone_categories[2].tones[0].score;\n        scscore=scscore+data[i].tone_categories[2].tones[1].score;\n        sescore=sescore+data[i].tone_categories[2].tones[2].score;\n        sascore=sascore+data[i].tone_categories[2].tones[3].score;\n        semscore=semscore+data[i].tone_categories[2].tones[4].score;\n    }\n    ascore=ascore/(data.length);\n    dscore=dscore/(data.length);\n    fscore=fscore/(data.length);\n    jscore=jscore/(data.length);\n    sscore=sscore/(data.length);\n    wascore=wascore/(data.length);\n    wcscore=wcscore/(data.length);\n    wtscore=wtscore/(data.length);\n    semscore=semscore/(data.length);\n    sescore=sescore/(data.length);\n    scscore=scscore/(data.length);\n    sascore=sascore/(data.length);\n    soscore=soscore/(data.length);\n    //console.log(ascore);\n    creategraph();\n}\nfunction creategraph(){\n    \n    var chart = new Highcharts.Chart({\n                colors: [\"#7cb5ec\", \"#f7a35c\"],\n                chart: {\n                    type: 'column',\n                    renderTo: 'container'\n                },\n        title: {\n            text: 'Emotional Tone Analysis'\n        },\n        subtitle: {\n            text: 'Source: Twitter'\n        },\n        xAxis: {\n            categories: [\n                cat[0],\n                cat[1],\n                cat[2],\n                cat[3],\n                cat[4]\n            ],\n            crosshair: true\n        },\n        yAxis: {\n            min: 0,\n            title: {\n                text: 'Tone Score'\n            }\n        },\n        tooltip: {\n            headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n            pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n                '<td style=\"padding:0\"><b>{point.y:.3f} </b></td></tr>',\n            footerFormat: '</table>',\n            shared: true,\n            useHTML: true\n        },\n        plotOptions: {\n            column: {\n                pointPadding: 0.2,\n                borderWidth: 0\n            }\n        },\n        series: [{\n            name: \"tones\",\n            data: [ascore,dscore,fscore,jscore,sscore]\n\n        }]\n    });\n    \n    \n    var chart1 = new Highcharts.Chart({\n                colors: [\"#7cb5ec\", \"#f7a35c\"],\n                chart: {\n                    type: 'column',\n                    renderTo: 'container1'\n                },\n        title: {\n            text: 'Writing Tone Analysis'\n        },\n        subtitle: {\n            text: 'Source: Twitter'\n        },\n        xAxis: {\n            categories: [\n                wcat[0],\n                wcat[1],\n                wcat[2],\n            ],\n            crosshair: true\n        },\n        yAxis: {\n            min: 0,\n            title: {\n                text: 'Tone Score'\n            }\n        },\n        tooltip: {\n            headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n            pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n                '<td style=\"padding:0\"><b>{point.y:.3f} </b></td></tr>',\n            footerFormat: '</table>',\n            shared: true,\n            useHTML: true\n        },\n        plotOptions: {\n            column: {\n                pointPadding: 0.2,\n                borderWidth: 0\n            }\n        },\n        series: [{\n            name: \"tones\",\n            data: [wascore,wcscore,wtscore]\n\n        }]\n    });\n    \n    var chart2 = new Highcharts.Chart({\n                colors: [\"#7cb5ec\", \"#f7a35c\"],\n                chart: {\n                    type: 'column',\n                    renderTo: 'container2'\n                },\n        title: {\n            text: 'Social Tone Analysis'\n        },\n        subtitle: {\n            text: 'Source: Twitter'\n        },\n        xAxis: {\n            categories: [\n                scat[0],\n                scat[1],\n                scat[2],\n                scat[3],\n                scat[4]\n            ],\n            crosshair: true\n        },\n        yAxis: {\n            min: 0,\n            title: {\n                text: 'Tone Score'\n            }\n        },\n        tooltip: {\n            headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n            pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n                '<td style=\"padding:0\"><b>{point.y:.3f} </b></td></tr>',\n            footerFormat: '</table>',\n            shared: true,\n            useHTML: true\n        },\n        plotOptions: {\n            column: {\n                pointPadding: 0.2,\n                borderWidth: 0\n            }\n        },\n        series: [{\n            name: \"tones\",\n            data: [soscore,scscore,sescore,sascore,semscore]\n\n        }]\n    });\n    \ndocument.getElementById(\"container\").style.visibility = \"visible\";\ndocument.getElementById(\"container1\").style.visibility = \"visible\";\ndocument.getElementById(\"container2\").style.visibility = \"visible\";\n\t\n}\n</script>\n</head>\n<body onload=\"gett()\">\n\n<div id=\"container\" style=\"min-width: 310px; height: 400px; margin: 0 auto\"></div>\n<div id=\"container1\" style=\"min-width: 310px; height: 400px; margin: 0 auto\"></div>\n<div id=\"container2\" style=\"min-width: 310px; height: 400px; margin: 0 auto\"></div>\n\n</body>\n\n</html>","x":287.54548263549805,"y":538.9230680465698,"wires":[["8ddc2513.0dc788"]]},{"id":"d8e252f5.21475","type":"http in","z":"ea09c234.8e674","name":"homesharma","url":"/homes","method":"get","swaggerDoc":"","x":75,"y":538.8321418762207,"wires":[["5a78d1cb.fffeb"]]},{"id":"8ddc2513.0dc788","type":"http response","z":"ea09c234.8e674","name":"","x":527.3636360168457,"y":542.6502571105957,"wires":[]}]
